# Binaries
**bin/
bin-int/

# Engine Files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
# Legger til stjerne
Sandbox/imgui.ini
Sandbox/**.vcxproj
Engine/**.vcxproj.filters
Engine/**.vcxproj
